  <aside id="sidebar" class="col-md-3">

    <div class="search hidden-xs">
      <input id="search" type="search" results="0" placeholder="Search" ng-model="vm.q.n" ng-focus="vm.search()" focus>
    </div>

    <!-- Mobi -->
    <div class="list-group visible-xs-block">
      <a class="list-group-item an-categorys" ng-click="xx = !xx">
        Categorys
        <span class="glyphicon glyphicon-align-justify pull-right"></span>
      </a>
      <div collapse="!xx">
        <a class="list-group-item" href="/lights">
          Lights
          <span class="badge">{{ lights.length }}</span>
        </a>
        <a class="list-group-item" ng-repeat="val in vm.categorys" href="/categories/{{ val.k }}" ng-class="{active: vm.active.c == val.k}">
          {{ val.v }}
          <span class="badge">{{ vm.nums[val.k] }}</span>
        </a>
      </div>
    </div>

    <!-- PC -->
    <div class="hidden-xs">
      <div class="list-group" >
        <a class="list-group-item als" href="/lights">
          Lights
          <span class="badge">{{ lights.length }}</span>
        </a>
        <a class="list-group-item" ng-repeat="val in vm.categorys" href="/categories/{{ val.k }}" ng-class="{active: vm.active.c == val.k}">
          {{ val.v }}
          <span class="badge">{{ vm.nums[val.k] }}</span>
        </a>
      </div>
      
      <div class="widget tags">
        <h3 class="title">Tags</h3>
        
        <ul class="entry">
          <li ng-repeat="tag in vm.tags" ng-if="vm.nums[tag]">
            <a href="/tags/{{ tag }}" ng-class="{active: vm.active.ts.indexOf(tag) > -1 }">
              <span>{{ tag }}</span>
              <small>{{ vm.nums[tag] }}</small>
            </a>
          </li>
        </ul>
        
      </div>


      <div class="widget related" ng-if="vm.light">
        <h3 class="title">Related</h3>
        <div class="row">
          <div class="col-xs-12" ng-repeat="related in vm.relateds">
            <a class="thumbnail" href="/lights/{{ related.n }}">
              <img ng-src="http://daisy.qiniudn.com/{{ related.is[0] }}-400x300" alt="{{ related.n }}">
            </a>
            <div class="name">{{ related.n }}</div>
          </div>
        </div>
      </div>

    </div>
  </aside>