<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Daisy Group</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body ng-app="daisy">
    <div id="wrap">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div x class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" ng-click="x=!x">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ site.title }}</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" collapse="!x">
            <ul class="nav navbar-nav" xx>
              <li id="lights">
                <a demo href="/lights">Lights</a>
              </li>
              <li id="news">
                <a href="/news">News</a>
              </li>
              <li id="about">
                <a href="/about">About</a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right tls">
              <li><a class="s" href="javascript:void(0);" ng-click="common.clear()">Refresh</a></li>
              <li><a class="s" href="http://en.daisylight.com">English</a></li>
              <li><a class="s" href="http://zh.daisylight.com">简体中文</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </nav>


      <div class="container">
        <div ng-view=""></div>
      </div>

    </div>
    <hr>
    <div id="footer">
      <div class="container">
        <address>
          <strong>Ms.Mary</strong><br>
          <p>
            <strong>Skype: </strong>
            <a href="skype:ampus05?chat">Ampus05</a>
          </p>
          <abbr title="Tel">P:</abbr> (+86) 020-8641-4989
          <p>
            <strong>Email: </strong>
            <a href="mailto:daisylight@vip.163.com">daisylight@vip.163.com</a>
            
          </p>
          <p>
            <b>Address: </b>
            <a target="_blank" href="http://map.baidu.com/?newmap=1&s=inf%26uid%3D175ffc74e78097b80782c267%26wd%3D%E5%B9%BF%E5%B7%9E%E5%BE%97%E5%BF%97%E7%94%B5%E5%AD%90%E7%A7%91%E6%8A%80%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8%26all%3D1%26c%3D257&from=alamap&tpl=map_singlepoint">Bldg.A2~A3,No.11 Industrial Area,Yagang,Baiyun District,Guangzhou,China</a>
          </p>
        </address>
      </div>
    </div>
    <script type="text/ng-template" id="sidebar.htm">

      <aside id="sidebar" class="col-md-3">

        <div class="search hidden-xs">
          <input id="search" type="search" results="0" placeholder="Search" ng-model="vm.q.n" ng-focus="vm.search()" focus>
        </div>

        <!-- Mobi -->
        <div class="list-group visible-xs-block">
          <a class="list-group-item an-categorys" ng-click="xx = !xx">
            Categorys
            <span class="glyphicon glyphicon-align-justify pull-right"></span>
          </a>
          <div collapse="!xx">
            <a class="list-group-item" href="/lights">
              Lights
              <span class="badge">{{ lights.length }}</span>
            </a>
            <a class="list-group-item" ng-repeat="val in vm.categorys" href="/categories/{{ val.k }}" ng-class="{active: vm.active.c == val.k}">
              {{ val.v }}
              <span class="badge">{{ vm.nums[val.k] }}</span>
            </a>
          </div>
        </div>

        <!-- PC -->
        <div class="hidden-xs">
          <div class="list-group" >
            <a class="list-group-item als" href="/lights">
              Lights
              <span class="badge">{{ lights.length }}</span>
            </a>
            <a class="list-group-item" ng-repeat="val in vm.categorys" href="/categories/{{ val.k }}" ng-class="{active: vm.active.c == val.k}">
              {{ val.v }}
              <span class="badge">{{ vm.nums[val.k] }}</span>
            </a>
          </div>
          
          <div class="widget tags">
            <h3 class="title">Tags</h3>
            
            <ul class="entry">
              <li ng-repeat="tag in vm.tags" ng-if="vm.nums[tag]">
                <a href="/tags/{{ tag }}" ng-class="{active: vm.active.ts.indexOf(tag) > -1 }">
                  <span>{{ tag }}</span>
                  <small>{{ vm.nums[tag] }}</small>
                </a>
              </li>
            </ul>
            
          </div>


          <div class="widget related" ng-if="vm.light">
            <h3 class="title">Related</h3>
            <div class="row">
              <div class="col-xs-12" ng-repeat="related in vm.relateds">
                <a class="thumbnail" href="/lights/{{ related.n }}">
                  <img ng-src="http://daisy.qiniudn.com/{{ related.is[0] }}-400x300" alt="{{ related.n }}">
                </a>
                <div class="name">{{ related.n }}</div>
              </div>
            </div>
          </div>

        </div>
      </aside>

    </script>


    <!-- Template for ngInclude. -->
    <script type="text/ng-template" id="two.htm">

      <div>
        Template Two
      </div>

    </script>

    <script src="/js/app.min.js"></script>
  </body>
</html>
