<h1 class="title-h1">Daisy Group Co., Ltd</h1>
<p>
  <b>Daisy Group Co., Ltd</b> is a high-tech manufacturer in LED stage lighting equipment and illumination products. Nowadays, we have nearly 10,000 square meters standard workshop and about 200 employees, 1/4 of them are R&D engineers and technicians. <b>"DAISEYA"</b> is our own brand, we are specializing in the production of stage lighting, e.g. LED WALL WASHER, MOVING HEADS, CITY COLOR, LED PAR, etc.
</p>
<!-- <div class="ds-header">
  <h1>
    Gaisy Group Co., Ltd
    <small>
    is a high-tech manufacturer in LED stage lighting equipment and illumination products. Nowadays, we have nearly 10,000 square meters standard workshop and about 200 employees, 1/4 of them are R&D engineers and technicians. <b>"DAISEYA"</b> is our own brand, we are specializing in the production of stage lighting, e.g. LED WALL WASHER, MOVING HEADS, CITY COLOR, LED PAR, etc.
    </small>
  </h1>
</div> -->

<carousel interval="2500">
  <slide ng-repeat="val in ['LF109', 'WQ1501', 'PS1212', 'AWS1209']">
    <img ng-src="http://www.daiseya.com/{{ $index + 1 }}.jpg" style="margin:auto;">
    {{ val }}
    <div class="carousel-caption">
      <a href="#lights/{{ val }}">
        <h4>{{ val }}</h4>
      </a>
    </div>
  </slide>
</carousel>